.dropDownContainer {
    padding: 10px 0;
    border-radius: 10px;
    width: 200px;
    max-width: 200px;
    max-height: 728.4px;
    overflow: auto;
    position: absolute;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: block;
    transform: translateY(0px);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 3%), 0 4px 5px 0 rgb(0 0 0 / 4%);


    .dropDown {
        list-style-type: none;


        li {
            padding: 8px 16px;
            font-size: 1em;
            line-height: 1.5;
            background-color: #ffffff;


            &:hover {
                color: #000;
                cursor: pointer;
                background-color: #f8f9fa;
            }
        }

    }
}