@use "../../../scss/" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: $primary-color;
  padding: 0 115px;
  .header__left,
  .header__right {
    display: flex;
    align-items: center;

    .item {
      margin: 0 16px;
      cursor: pointer;
      color: #ffff;
      font-weight: 600;
      border-radius: 10px;
      .dropDownContainer {
        display: none;
        .dropDown li {
          color: black !important;
        }
      } 
      
      &:hover {
        .dropDownContainer {
          display: block;
        }
      }
    }
  }

  .header__right {
    .item {
      .plus-icon {
        color: $body-color;
        font-weight: 900;
        font-size: 22px;
      }

      .search-icon {
        font-size: 20px;
        color: rgb(1, 180, 228);
      }
    }
  }
}
@keyframes scrollHeaderUp{
  0%{
    top:-64px;
  }
  100%{
    top:0;

  }
}
@keyframes scrollHeaderDown{
  0%{
    top:0;
  }
  100%{
    top:-64px;
  }
}