@use "../../../scss/" as *;

.editLeader {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 20px;

  .editLeader__avatarImg, .editLeader__avatarText {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    img {
      display: block;
      border-radius: 50%;
    }
  }

  .editLeader__avatarText {
    color: $body-color;
    background: rgba(var(--accountYellow), 1);
    font-size: 20px;
    border-radius: 50%;
  }

  .editLeader__info {
    .editLeader__title {
      font-size: 20px;
      font-weight: 600;
    }
  }
}
