.editLeader {
  display: flex;
  align-items: center;
  width: 260px;
  min-width: 260px;
  margin-bottom: 20px;
  box-sizing: border-box;
  height: 45px;

  .editLeader__avatar {
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .editLeader__info {
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    p {
      font-weight: 600;
      margin: 0;

      span {
        text-decoration: none;
        color: #000;
        font-weight: 300;
      }
    }
  }
}