@use "../../../scss/" as *;

.editLeader {
  display: flex;
  align-items: center;
  width: 50%;
  padding-right: 20px;
  margin-bottom: 20px;

  .editLeader__avatarImg,
  .editLeader__avatarText {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    img {
      display: block;
      border-radius: 50%;
    }
  }

  .editLeader__avatarText {
    color: $body-color;
    background: rgba(var(--accountYellow), 1);
    font-size: 20px;
    border-radius: 50%;
  }

  .editLeader__avatar {
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .editLeader__info {
    flex: 1;
    .editLeader__title {
      font-size: 20px;
      font-weight: 600;
    }
  }
}