@use "../../../scss/" as *;

.homepage {
  @include layoutCenter;

  .icon-arrow {
    font-size: 12px;
    display: inline-block;
    margin-left: 6px;
  }

  .item-card + .item-card {
    margin-left: 20px;
  }

  .item_leaderboard {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
