@use "../../../scss/" as *;

.homepage {
  @include layoutCenter;

  .icon-arrow {
    font-size: 12px;
    display: inline-block;
    margin-left: 6px;
  }

  .item-trending + .item-trending {
    margin-left: 20px;
  }
}
