.discussion{
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
    width: 98%;
    margin: 0 1%;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    color: #000;
    border: 1px solid rgba(var(--lightGrey), 1);
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    .subject{
        display: flex;
        align-items: center;
        width: 55%;
        .avatar{
            padding-right: 10px;
            cursor: pointer;
            img{
                border-radius: 50%;
                border: 1px solid gray;
            }
        }
        .link{
            cursor: pointer;
            &:hover{
                color: gray;
            }
        }
    }      
}