.tag {
    margin-right: 5px;
    margin-bottom: 10px;
    line-height: 24px;
    font-size: 0.9em;
    box-sizing: border-box;
    white-space: nowrap;
    list-style: none;

    span {
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.1);
        border: 1px solid #d7d7d7;
        padding: 3px 9px;
        border-radius: 4px;
        text-decoration: none;
        opacity: 0.8;
    }
}