@mixin flex($display, $align-item, $justify-content) {
  display: $display;
  align-items: $align-item;
  justify-content: $justify-content;
}

@mixin overlay {
  background-color: rgba($color: #000000, $alpha: 1);
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin centerAbsolute($direction: "both") {
  position: absolute;

  @if ($direction =="left") {
    left: 50%;
    transform: translateX(-50%);
  }

  @if ($direction =="right") {
    right: 50%;
    transform: translateY(-50%);
  }

  @if ($direction =="both") {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}