// Color
$body-color: #ffffff;
$text-color: #000000;
$primary-color: #032541;
// $allTime-edit-color: linear-gradient(
//   to right,
//   rgba($tmdbLighterGreen, 1) 0%,
//   rgba($tmdbLightGreen, 1) 100%
// );
// $thisWeek-edit-color: linear-gradient(
//   to right,
//   rgba($tmdbLogoOrange, 1) 0%,
//   rgba($tmdbLogoRed, 1) 100%
// ); // Responsive
$mobile-width: 600px;
$table-width: 1024px;

$highly-evaluate: #21cf79;
$medium-evaluate: #ced130;
$low-evaluate: #d4225e;

// Font
$font-family: "Source Sans Pro", Arial, sans-serif;

//
$scrollerGrey: 219, 219, 219;
$lightGrey: 227, 227, 227;
$darkerGrey: 200, 200, 200;
$tmdbDarkBlue: 3, 37, 65;
$tmdbLightBlue: 1, 180, 228;
$tmdbLighterGreen: 192, 254, 207;
$tmdbLightGreen: 30, 213, 169;
$tmdbLogoGreen: 144, 206, 161;
$tmdbLogoOrange: 253, 193, 112;
$tmdbLogoRed: 217, 59, 99;
$accountSilver: 149, 149, 149;
$accountPink: 234, 20, 140;
$accountPurple: 128, 91, 231;
$accountGreen: 1, 210, 119;
$accountTeal: 1, 198, 172;
$accountLightBlue: 1, 180, 228;
$accountBlue: 1, 119, 210;
$accountOrange: 210, 119, 1;
$accountYellow: 210, 144, 1;
$accountRed: 212, 2, 66;
$imageBorderRadius: 8px;
$maxPrimaryPageWidth: 1400px;
